@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
*{ padding: 0; margin: 0; }
body { font-family: 'Noto Sans KR', sans-serif; }
ul,ol{ list-style: none; }
a { text-decoration: none; color: #666666; }
/* body p{ margin: 0; padding: 0;} 이건 자손 선택*/
/* body,p{ margin: 0; padding: 0;} 이건 둘 다 적용*/
/* *{ margin: 0; padding: 0;} '*' 유니버셜 선택자 */
