@charset "utf-8";

@font-face {
    font-family: 'NotoSansLight';
    font-style: normal;
    src: local('Noto Sans Light'), local('NotoSans-Light'),
    url(../font/NotoSansKrLight.eot),
    url(../font/NotoSansKrLight.eot?#iefix) format('embedded-opentype'),
    url(../font/NotoSansKrLight.woff) format('woff'),
    url(../font/NotoSansKrLight.otf) format('opentype');
}
@font-face {
    font-family: 'NotoSansDemiLight';
    font-style: normal;
    src: local('Noto Sans Demi Light'), local('NotoSans-DemiLight'),
    url(../font/NotoSansKrDemiLight.eot),
    url(../font/NotoSansKrDemiLight.eot?#iefix) format('embedded-opentype'),
    url(../font/NotoSansKrDemiLight.woff) format('woff'),
    url(../font/NotoSansKrDemiLight.otf) format('opentype');
}
@font-face {
    font-family: 'NotoSansRegular';
    font-style: normal;
    src: local('Noto Sans Regular'), local('NotoSans-Regular'),
    url(../font/NotoSansKrRegular.eot),
    url(../font/NotoSansKrRegular.eot?#iefix) format('embedded-opentype'),
    url(../font/NotoSansKrRegular.woff) format('woff'),
    url(../font/NotoSansKrRegular.otf) format('opentype');
}
@font-face {
    font-family: 'NotoSansMedium';
    font-style: normal;
    src: local('Noto Sans Medium'), local('NotoSans-Medium'),
    url(../font/NotoSansKrMedium.eot),
    url(../font/NotoSansKrMedium.eot?#iefix) format('embedded-opentype'),
    url(../font/NotoSansKrMedium.woff) format('woff'),
    url(../font/NotoSansKrMedium.otf) format('opentype');
}
@font-face {
    font-family: 'NotoSansBold';
    font-style: normal;
    src: local('Noto Sans Bold'), local('NotoSans-Bold'),
    url(../font/NotoSansKrBold.eot),
    url(../font/NotoSansKrBold.eot?#iefix) format('embedded-opentype'),
    url(../font/NotoSansKrBold.woff) format('woff'),
    url(../font/NotoSansKrBold.otf) format('opentype');
}
@font-face {
    font-family: 'OpenSansLight';
    font-style: normal;
    src: local('Open Sans Light'), local('OpenSans-Light'),
    url(../font/OpenSansLight.eot),
    url(../font/OpenSansLight.eot?#iefix) format('embedded-opentype'),
    url(../font/OpenSansLight.woff) format('woff'),
    url(../font/OpenSansLight.otf) format('opentype');
}
@font-face {
    font-family: 'OpenSansRegular';
    font-style: normal;
    src: local('OpenSansRegular'), local('OpenSans-Regular'),
    url(../font/OpenSansRegular.eot),
    url(../font/OpenSansRegular.eot?#iefix) format('embedded-opentype'),
    url(../font/OpenSansRegular.woff) format('woff'),
    url(../font/OpenSansRegular.otf) format('opentype');
}
@font-face {
    font-family: 'OpenSansSemibold';
    font-style: normal;
    src: local('OpenSansSemibold'), local('OpenSans-Semibold'),
    url(../font/OpenSansSemibold.eot),
    url(../font/OpenSansSemibold.eot?#iefix) format('embedded-opentype'),
    url(../font/OpenSansSemibold.woff) format('woff'),
    url(../font/OpenSansSemibold.otf) format('opentype');
}
@font-face {
    font-family: 'OpenSansbold';
    font-style: normal;
    src: local('OpenSansbold'), local('OpenSans-bold'),
    url(../font/OpenSansbold.eot),
    url(../font/OpenSansbold.eot?#iefix) format('embedded-opentype'),
    url(../font/OpenSansbold.woff) format('woff'),
    url(../font/OpenSansbold.otf) format('opentype');
}

/* reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small,
strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form,
label, legend, table, caption, tbody, tfoot, thead, tr, th, td, input, textarea, button,
article, aside, canvas, details, embed, figure, figcaption, footer, header, menu,
nav, output, ruby, section, summary, time, mark, audio, video
{ margin:0;padding:0;border:0;}
article, aside, details, figcaption, figure, footer, header, menu, nav, section { display: block;}
html {height:auto;-webkit-text-size-adjust: none;-moz-text-size-adjust: none;-ms-text-size-adjust: none; }
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: '';content:none;}
table {border-collapse:collapse;border-spacing:0;}
a {text-decoration:none;color:inherit;}
a:hover {text-decoration:none;}
legend, caption, hr {display:none;}
em {font-style:normal;}
img {vertical-align:top;max-width: 100%;}
input {vertical-align:middle;}
p,h3,h2,h1{letter-spacing: normal;}
input,textarea,button,select{ font-family: sans-serif;-webkit-appearance: none;border-radius: 0;border: 0;background:#fff; }
section{width:100%;}
body{ font-family:'NotoSansLight';width:100%; height:100%; min-width:1200px; color:#444444;background-color: #ffffff; margin: 0 auto;word-break: break-all}
body{ font-family:'NotoSansLight';width: 100%;height: 100%;min-width:1200px; color:#444444;background-color: #ffffff;  /*max-width: 1859px; */margin: 0 auto;word-break: break-all}
button{cursor: pointer}
button,select{ font-family:'NotoSansLight';-webkit-appearance: none;-moz-appearance: none; appearance: none;border: 0;background: transparent;}
video{object-fit: cover;}
ol, ul,li { list-style: none;}
h1,h2,h3,h4,h5{font-weight: normal}
h2{font-family:'NotoSansMedium';}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-family:'NotoSansLight';color:#939393;
}
::-moz-placeholder { /* Firefox 19+ */
    font-family:'NotoSansLight';color:#939393;
}
:-ms-input-placeholder { /* IE 10+ */
    font-family:'NotoSansLight';color:#939393;
}
:-moz-placeholder { /* Firefox 18- */
    font-family:'NotoSansLight';color:#939393;
}
select::-ms-expand { display: none; }
